In [6]:

import pandas as pd

import requests

In [9]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [10]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [15]:
df.head()

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Cars,"Lightning McQueen, a hotshot rookie race car d...",en,release_date,67.526,12302,6.9
1,Deathstroke: Knights & Dragons - The Movie,The assassin Deathstroke tries to save his fam...,en,release_date,66.398,379,6.9
2,Kung Fu Panda 3,"Continuing his ""legendary adventures of awesom...",en,release_date,67.361,5011,6.9
3,Bubble,In an abandoned Tokyo overrun by bubbles and g...,ja,release_date,74.898,296,7.5
4,Pacific Rim,As war between humankind and monstrous sea cre...,en,release_date,67.256,11110,6.9

In [17]:
df = pd.DataFrame()

In [18]:
df

Empty DataFrame
Columns: []
Index: []

In [19]:

for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [20]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,28.858,8.7,205
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,88.334,8.7,17435
2,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,111.799,8.7,23246
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,47.723,8.6,10557
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,44.329,8.6,13732
...,...,...,...,...,...,...,...
8555,209112,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,2016-03-23,64.888,5.9,16488
8556,87516,Oldboy,An everyday man has only three and a half days...,2013-11-14,16.103,5.9,1722
8557,19840,"I Love You, Beth Cooper",A valedictorian's declaration of love for a hi...,2009-07-10,22.860,5.9,749
8558,10023,Dragnet,LAPD Sgt. Joe Friday -- the equally straight-l...,1987-06-23,8.803,5.9,386
8559,9988,Beerfest,During a trip to Germany to scatter their gran...,2006-08-25,7.776,5.9,453

In [21]:
df.shape

(8560, 7)

In [22]:
df.to_csv('movies.csv')

In [3]:
popularity=[]
vote_count=[]
original_language=[]
title=[]
vote_average=[]
overview=[]
release_date=[]

In [4]:
for i in response["results"]:
    popularity.append(i["popularity"])
    vote_count.append(i["vote_count"])
    original_language.append(i["original_language"])
    title.append(i["title"])
    vote_average.append(i["vote_average"])
    overview.append(i["overview"])
    release_date.append(i["release_date"])
d={"title":title,"overview":overview,"original_language":original_language,"release_date":"release_date","popularity":popularity,"vote_count":vote_count,"vote_average":vote_average}
df=pd.DataFrame(d)
df

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Beauty Salon: Special Service,A legendary beauty salon that is sure to becom...,ko,release_date,146.167,11,6.2
1,Hocus Pocus 2,29 years since the Black Flame Candle was last...,en,release_date,153.538,1309,7.5
2,Emancipation,Inspired by the gripping true story of a man w...,en,release_date,157.874,747,8.1
3,Venom: Let There Be Carnage,After finding a host body in investigative rep...,en,release_date,160.474,8490,6.9
4,Venus,"Lucía, a club dancer on the run, takes refuge ...",es,release_date,163.096,22,6.1
5,Hacksaw Ridge,"WWII American Army Medic Desmond T. Doss, who ...",en,release_date,167.812,11891,8.2
6,The Conjuring: The Devil Made Me Do It,Paranormal investigators Ed and Lorraine Warre...,en,release_date,155.619,4923,7.6
7,Whisper,A young Nurse is assigned to look after a pati...,en,release_date,154.440,52,6.5
8,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,en,release_date,155.786,3036,8.0
9,The Next 365 Days,Laura and Massimo's relationship hangs in the ...,pl,release_date,140.886,680,6.6
10,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",en,release_date,158.402,18320,8.1
11,L'oubliée d'Amboise,A violinist is found dead not far from the tom...,fr,release_date,152.520,16,6.3
12,To Kill the Beast,Emilia arrives at her Aunt Inés' hostel locate...,es,release_date,148.040,111,6.0
13,Interstellar,The adventures of a group of explorers who mak...,en,release_date,157.405,30475,8.4
14,Jethica,While hiding out in New Mexico after a freak a...,en,release_date,148.595,5,4.8
15,Fifty Shades Freed,Believing they have left behind shadowy figure...,en,release_date,168.677,7184,6.7
16,Fast X,The tenth installment in the Fast Saga.,en,release_date,155.895,0,0.0
17,The Lost City,Reclusive author Loretta Sage writes about exo...,en,release_date,138.996,2536,6.7
18,Transformers: Rise of the Beasts,A ‘90s globetrotting adventure that introduces...,en,release_date,154.731,0,0.0
19,The Price of Family,Heartbroken that their children no longer want...,it,release_date,147.300,143,6.6

In [5]:
# final=pd.DataFrame()
# for j in range(1,41):
#     response=requests.get("https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}".format(j)).json()
#     popularity=[]
#     vote_count=[]
#     original_language=[]
#     title=[]
#     vote_average=[]
#     overview=[]
#     release_date=[]
#     for i in response["results"]:
        
#         popularity.append(i["popularity"])
#         vote_count.append(i["vote_count"])
#         original_language.append(i["original_language"])
#         title.append(i["title"])
#         vote_average.append(i["vote_average"])
#         overview.append(i["overview"])
#         release_date.append(i["release_date"])
#     d={"title":title,"overview":overview,"original_language":original_language,"release_date":"release_date","popularity":popularity,"vote_count":vote_count,"vote_average":vote_average}
#     df=pd.DataFrame(d)
#     final=final.append(df,ignore_index=True)

KeyError: 'release_date'

In [ ]:
final

In [ ]:
! pip install tmdbv3api

In [ ]:
from tmdbv3api import TMDb
from tmdbv3api import Movie

tmdb = TMDb()
tmdb.api_key = '8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=10'
movie = Movie()

results = movie.search('Inception')
for result in results:
    print(result.title)
    print(result.overview)