In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv")

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
df=df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [12]:
df.sample(5)

     review education purchased
5   Average    School       Yes
1      Poor        UG        No
44  Average        UG        No
21  Average        PG        No
0   Average    School        No

In [14]:
df.education.unique()

array(['School', 'UG', 'PG'], dtype=object)

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=.2)

In [11]:
x_train.sample(5)

   review education
23   Good    School
18   Good    School
49   Good        UG
7    Poor    School
16   Poor        UG

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
oe=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","PG","UG"]])

In [18]:
x_train=oe.fit_transform(x_train)
x_test=oe.transform(x_test)

In [19]:
x_train

array([[2., 2.],
       [2., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [0., 0.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [0., 1.],
       [1., 1.]])

In [20]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'PG', 'UG'], dtype=object)]

In [21]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [36]:
le.fit(y_train)

LabelEncoder()

In [37]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [38]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [39]:
# y_train=le.fit_transform(y_train)
# y_test=le.transform(y_test)
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [40]:
y_train

array([0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0])