In [30]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer

In [31]:
df=pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day38-missing-indicator/train.csv",usecols=['Age','Fare','Survived'])

In [32]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [33]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [35]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [7]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)

In [9]:
lr.score(X_test_trf,y_test)

0.6145251396648045

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
accuracy_score(y_test,y_pred)

0.6145251396648045

In [12]:
mi=MissingIndicator()

In [13]:
x_train_transformed=mi.fit_transform(X_train)

In [14]:
mi.features_

array([0], dtype=int64)

In [15]:
x_test_transformed=mi.transform(X_test)

In [16]:
X_train["age_na"]=x_train_transformed

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_8096/98592274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["age_na"]=x_train_transformed

In [17]:
X_train

      Age      Fare  age_na
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [18]:
X_test["age_na"]=x_test_transformed

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_8096/546737408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["age_na"]=x_test_transformed

In [19]:
si2 = SimpleImputer()
X_train_trf2 = si2.fit_transform(X_train)
X_test_trf2 = si2.transform(X_test)

In [20]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred=lr.predict(X_test_trf2)
lr.score(X_test_trf2,y_test)

0.6312849162011173

In [21]:
accuracy_score(y_test,y_pred)

0.6312849162011173

# without using missing imputer laibary how to missing impute

In [22]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [23]:
X

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [25]:
X_train

      Age      Fare
30   40.0   27.7208
10    4.0   16.7000
873  47.0    9.0000
182   9.0   31.3875
876  20.0    9.8458
..    ...       ...
534  30.0    8.6625
584   NaN    8.7125
493  71.0   49.5042
527   NaN  221.7792
168   NaN   25.9250

[712 rows x 2 columns]

In [36]:
si = SimpleImputer(add_indicator=True)
X_train=si.fit_transform(X_train)
X_test=si.transform(X_test)

In [37]:
from sklearn.linear_model import LogisticRegression

In [40]:
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
accuracy_score(y_test,y_pred)

0.6312849162011173