In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Abdur rahim nishad\Downloads\archive\play_tennis.csv")
df.drop(["day"],inplace=True,axis=1)

In [3]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [4]:
df.play.value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [5]:
df[(df["outlook"]=="Sunny")]

   outlook  temp humidity    wind play
0    Sunny   Hot     High    Weak   No
1    Sunny   Hot     High  Strong   No
7    Sunny  Mild     High    Weak   No
8    Sunny  Cool   Normal    Weak  Yes
10   Sunny  Mild   Normal  Strong  Yes

In [6]:
df[(df["temp"]=="Hot")]

     outlook temp humidity    wind play
0      Sunny  Hot     High    Weak   No
1      Sunny  Hot     High  Strong   No
2   Overcast  Hot     High    Weak  Yes
12  Overcast  Hot   Normal    Weak  Yes

In [7]:
df[(df["humidity"]=="High")]

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
7      Sunny  Mild     High    Weak   No
11  Overcast  Mild     High  Strong  Yes
13      Rain  Mild     High  Strong   No

In [8]:
df[(df["wind"]=="Weak")]

     outlook  temp humidity  wind play
0      Sunny   Hot     High  Weak   No
2   Overcast   Hot     High  Weak  Yes
3       Rain  Mild     High  Weak  Yes
4       Rain  Cool   Normal  Weak  Yes
7      Sunny  Mild     High  Weak   No
8      Sunny  Cool   Normal  Weak  Yes
9       Rain  Mild   Normal  Weak  Yes
12  Overcast   Hot   Normal  Weak  Yes

In [9]:
py=9/14
pn=5/14

In [10]:
py,pn

(0.6428571428571429, 0.35714285714285715)

In [11]:
# outlook
pd.crosstab(df["outlook"],df["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [12]:
povercastn=0
prainn=2/5
psunnyn=3/5

povercasty=4/9
prainy=3/9
psunny=2/9

In [13]:
#temp
pd.crosstab(df["temp"],df["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [19]:
pcooln=1/5
photn=2/5
pmildn=2/5

pcooly=3/9
photy=2/9
pmildy=4/9

In [20]:
#humidity
pd.crosstab(df["humidity"],df["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [16]:
phighn=4/5
pnormaln=1/5

phighy=3/9
pnoramly=6/9

In [17]:
#wind
pd.crosstab(df["wind"],df["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [18]:
pstrongn=3/5
pweakn=2/5

pstrongy=3/9
pweaky=6/9

In [21]:
 pyes=py*psunny*photy*phighy*pweaky

In [22]:
pyes

0.007054673721340388

In [24]:
 pno=pn*psunnyn*photn*phighn*pweakn

In [25]:
pno

0.02742857142857143