In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/campusx-official/ml-model-deployment-aws-ec2/main/students_placement.csv")

In [3]:
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [4]:
df.shape

(300, 4)

In [5]:

df.sample(5)

     cgpa   iq  profile_score  placed
29   7.21   96             94       1
48   7.60   98             58       0
233  6.97  105             53       1
52   6.56  104             77       1
58   7.70  103             56       1

In [6]:
X = df.drop(columns=['placed'])
y = df['placed']

In [7]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
scaler = StandardScaler()
X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)
accuracy_score(y_test,
               LogisticRegression()
               .fit(X_train_trf,y_train)
               .predict(X_test_trf))

0.8833333333333333

In [9]:
from sklearn.ensemble import RandomForestClassifier
accuracy_score(y_test,RandomForestClassifier().fit(X_train,y_train).predict(X_test))

0.8666666666666667

In [10]:
from sklearn.svm import SVC
accuracy_score(y_test,SVC(kernel='rbf').fit(X_train,y_train).predict(X_test))

0.9333333333333333

In [11]:
svc = SVC(kernel='rbf')
svc.fit(X_train,y_train)

SVC()

In [12]:

rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
import pickle 
pickle.dump(svc,open('model.pkl','wb'))

In [14]:
rf.predict(np.array([4.5,56,10]).reshape(1,3))

array([0], dtype=int64)

In [15]:
rf.predict([[8,69,10]])

array([1], dtype=int64)